%html(lang='pt-BR')/
%head
    %meta(charset="UTF-8")/
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %link(rel="preconnect" href="https://fonts.gstatic.com")/
    %link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet")/
    %javascript(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")/

%body
    .header
        .logo_uol 
            = image_tag("logo_uol.svg", :alt => "UOL Logo")
        .people_icon 
            = image_tag("people_icon.svg", :alt => "Icon with People")
    .chat
    .send_text_box 
        Escreva aqui...
        .typed_message
        .send_icon 
            = image_tag("send_icon.svg", :alt => "Send Buttom")
    :javascript
        let username = prompt("Como você quer ser chamado?");
        let currentTime = axios.get('http://worldtimeapi.org/api/timezone/America/Sao_Paulo');
        console.log(currenTime);
        currentTime.then(processDateResponse(currentTime)); 
        currentTime.catch(processError);

        function processDateResponse(time) { time = time.datetime.slice(11,18) }

        function processError(error) {
            console.log("Status Code: " + error.response.status); // Ex: 404
            console.log("Error Message: " + error.response.data); // Ex: Not Found
        }
        let chat = document.querySelector('chat')
        chat.innerHTML += `
            .message.member_flux ${currenTime} ${username} entra na sala...
            `