%html(lang='pt-BR')/
%head
    %meta(charset="UTF-8")/
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %link(rel="preconnect" href="https://fonts.gstatic.com")/
    %link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet")/
%body
    .header
        .logo_uol 
            = image_tag("logo_uol.svg", :alt => "UOL Logo")
        .people_icon 
            = image_tag("people_icon.svg", :alt => "Icon with People")
    .chat
        .message.member_flux João entra na sala...
    .send_text_box 
        Escreva aqui...
        .typed_message
        .send_icon 
            = image_tag("send_icon.svg", :alt => "Send Buttom")